[submodule "_vim/bundle/auto-pairs"]
	path = _vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "_vim/bundle/ctrlp.vim"]
	path = _vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "_vim/bundle/genutils"]
	path = _vim/bundle/genutils
	url = https://github.com/vim-scripts/genutils.git
[submodule "_vim/bundle/multiselect"]
	path = _vim/bundle/multiselect
	url = https://github.com/vim-scripts/multiselect.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/snipmate.vim"]
	path = _vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "_vim/bundle/taglist.vim"]
	path = _vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "_vim/bundle/vcscommand.vim"]
	path = _vim/bundle/vcscommand.vim
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "_vim/bundle/vim-javascript"]
	path = _vim/bundle/vim-javascript
	url = https://github.com/lepture/vim-javascript.git
[submodule "_vim/bundle/vim-jsbeautify"]
	path = _vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "_vim/bundle/vim-monokai"]
	path = _vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "_vim/bundle/vim-nerdtree-tabs"]
	path = _vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/vim-session"]
	path = _vim/bundle/vim-session
	url = https://github.com/xolox/vim-session.git
[submodule "_vim/bundle/zencoding-vim"]
	path = _vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
